body, html{
    height: 100%;
}
*{
    scroll-behavior: smooth;
    box-sizing: border-box;
}
.navbar-custom{
    background-color: rgb(10, 10, 48);
}
.navbar-custom .navbar-brand {
    color: white;
}
.navbar-custom .navbar-collapse .navbar-nav .nav-item .nav-link{
    color: white;
}
.navbar-custom .navbar-collapse .navbar-nav .nav-item .nav-link:hover{
    color: rgb(158, 0, 0) !important;
}
.HeadImage{
    background-color: rgba(5, 5, 63, 0.959);
    height: 90vh;
       
}
#image{
    height: 300px;
    width: 300px;
    border-radius: 300px;
}
.intro{
    background-color: rgba(5, 5, 63, 0.959);
    color: white;
}

.card-text{
    font-family: 'Source Sans Pro', sans-serif;
}
#pr-heading{
    color: white;
    font-size: 2.4rem;
    font-family: 'Comfortaa', cursive;
}
.prj-sec{
    background-image:url('./resources/images/prj-sec-bg-img-f.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.Heading{
    color: rgb(49, 0, 38);
    font-size: 2.4rem;
    font-family: 'Comfortaa', cursive;
}
.exp-section{
    background-image: url('./resources/images/exp-sec-bg-img-f.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.experience {
    border-radius: 16px !important;
}
#ContactSection{
    background-image: url('./resources/images/contact-bg-img-f.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.ContactForm {
    border: 1px solid rgb(182, 255, 255);
    border-radius: 16px;
}
.Details {
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
}
.field {
    width: 100%;
}
.ct-Heading{
    color: rgb(255, 255, 255);
    font-size: 2.4rem;
    font-family: 'Comfortaa', cursive;
}
.footer {
    width: 100%;
    height: auto;
    background-color: #06061d;
    
}
ul {
    list-style: none;
    display: flex;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
    color: rgb(0, 255, 149);
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-youtube-play {
    background: #ff0000;
    color: white;
}
.fa-linkedin{
    background: #0011ff;
    color: white;
}
.fa-github-square{
    background: #282a3f;
    color: white;
}
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #960808;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }